
<button type="button" (click)="setHabilitar()" class="btn btn-large btn-block btn-succes">{{habilitar==true?'Ocultar':'Mostrar'}}</button>
<div class="card">
  <div>
    Lista de cursos
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <li class="list-group-item" *ngFor="let item of listaCurso">
      {{item}}
    </li>
  </ul>
</div>


